#recipe-list {
  display: flex;
  .recipeContainer {
    margin: 15px;
    padding: 15px;
    border: 1px solid black;
    .ingredientContainer {
      display: flex;
      flex-direction: column;
      p {
        margin: 0;
        padding-left: 10px;
      }
    }
  }
}
