#recipe-list {
  display: flex;
  .recipeContainer {
    margin: 15px;
    padding: 3px;
    border: 1px solid black;
    .ingredientContainer {
      display: flex;
      flex-direction: column;
    }
  }
}
